body {
	background-color: #EBF2FA;
	font-family: 'Lato', sans-serif;
	color: #0e1211;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body h1, h2, h3, h4 {
	font-family: 'Lora', serif;
	font-weight: 700;
}
body h2 {
	font-size: 1.5em;
}
body h3 {
	font-size: 1.6em;
}
a {
	color: #EBF2FA;
}
a:hover {
	text-decoration: underline;
	color: #EBF2FA;/*font-weight: 700;*/
}
a:visited {
	color: #EBF2FA;
}
ul {
	list-style-type: none;
	font-weight: 700;
}
.background {
	background-image: url(../images/background2.jpg);
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#topWindow {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 90px;
	background-image: url(../images/background.jpg);
	background-position: bottom right;
	background-size: cover;
	background-attachment: fixed;
	background-color: #05668D;
	text-align: center;
	color: #EBF2FA;
}
#menuLinks li {
	text-decoration: none;
	text-align: center;
	padding-right: 18px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 40px;
}
.photoCredit {
	margin-top: 4px;
	font-size: 0.8em;
	text-align: right;
}
footer {
	/*margin-top: 60px;*/
	padding-top: 40px;
	background-color: #05668D;
	color: #EBF2FA;
}
footer h4 {
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: 700;
	color: #EBF2FA;
	text-align: center;
	margin-top: 20px;
	font-size: 1.3em;
}
footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 40px;
	text-align: center;
	margin-bottom: 20px;
}
.footerPhone {
	font-weight: 400;
}
.footerAddress {
	line-height: 22px;
	font-weight: 400;
}
footer a {
	font-size: 1.3em;
}
.footerContact {
	margin-top: 10px;
	margin-bottom: 10px;
	/*text-decoration: underline;*/
	font-family: 'Lora', serif;
}
.footerSocial img {
	width: 80px;
	/*	width: 60px;
*/	/*padding-right: 20px;*/
	padding: 20px;
}
.footerSocial {
	margin: 0 auto;
}
.footerSocial li {
	display: inline;
}
#bottomBar {
	color: #05668D;
	padding: 20px;
	background-color: #EBF2FA;
	font-weight: 700;
	font-family: 'Lora', serif;
	text-align: center;
}
#logoDesktop {
	display: none;
}
#logo {
	display: block;
}
/*Hamburger Menu*/

.title-bar {
	background-color: hsla(0,0%,100%,0.00);
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 10px;
}
.title-bar .menu-icon {
	margin-right: 0;
}
.menu-icon:after {
	background: #fff;
	box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
}
.menu-icon:hover:after {
	background: #000;
	box-shadow: 0 7px 0 #000, 0 14px 0 #000;
}
/*Hamburger Menu End*/

.longNavSpacing li {
	margin-top: 6px;
	margin-bottom: 6px;
}
.sectionNavHeader {
	margin-top: 10px;
	text-align: center;
}
.sectionNavHeader img {
	height: 20px;
	width: auto;
	margin-bottom: 4px;
	margin-right: 10px;
}
.sectionNavHeader h2 {
	font-size: 1.4em;
	display: inline-block;
	vertical-align: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	text-decoration: underline;
}
.sectionNavCon {
	margin-top: 0px;
	margin-bottom: 40px;
}
.sectionNavConFixed {
	display: none;
	background-color: #05668D;
	position: fixed;
	width: 100%;
	top: 0;
	box-shadow: 0px 1px 8px #494949;
	z-index: 10;
}
#mobileNavIcon {
	position: fixed;
	display: none;
	top: 10px;
	margin-top: 0px;
	right: 10px;
	width: 50px;
	height: 50px;
	cursor: default;
	z-index: 3;
}
#mobileNavIcon img {
	z-index: 3;
}
#mobileNavIcon img {
	margin-top: 0px;
}
#navAbsolute {
	padding-top: 30px;
	position: relative;
}
#navAbsolute h2 {
	color: #EBF2FA;
	font-size: 1.4em;
}
#navAbsoluteToggle {
	position: absolute;
	right: 14px;
	top: 10px;
	color: #EBF2FA;
	cursor: default;
}
#navAbsoluteToggle {
	font-size: 2em;
}
.backToTopLongNav {
	margin-top: 20px;
	margin-bottom: 30px;
	padding-top: 14px;
}
.backToTopLongNav img {
	width: 20px;
	margin-right: 10px;
}
.sectionNav {
	text-align: center;
	margin: 0 auto;
	background-color: #05668D;
	width: 80%;
	color: #EBF2FA;
	text-wrap: normal;
	padding: 10px;
}
.sectionNav a {
	font-size: 1.1em;
}
.sectionNav ul {
	padding: 0;
	margin-left: 20px;
	list-style: none;
}
.sectionNav li {
	display: block;
	margin-right: 10px;
	font-size: 1.1em;
}
/*Index Header Window*/

#topWindow img {
/*	margin-top: 60px;
	margin-bottom: 40px;*/
}
#topWindow h2 {
	font-size: 2.4em;
}
.topHeader {
	margin-top: 60px;
	margin-bottom: 40px;
	text-align: center;
	font-weight: 700;
	font-size: 2.3em;
	z-index: 4;
}
#logo {
	width: 180px;
	height: auto;
	margin: 0 auto;
}
#logoFront {
	width: 180px;
	height: auto;
	margin: 0 auto;
}
#info h2, h3, h4 {
	color: #05668D;
}
.headerCenter {
	color: #05668D;
	margin-bottom: 40px;
	margin-top: 50px;
	text-align: center;
}
#info {
	/*height: 40%;*/
	padding-top: 60px;
	padding-bottom: 300px;
	background-image: url(../images/waves.svg), url(../images/lighthouse2.svg);
	background-size: contain, 380px auto;
	background-repeat: no-repeat;
	background-position: bottom, 80% 70%;
}
#info2 {
	/*	height: 40%;*/	
	background-color: #05668D;
	background-image: url(../images/island-background.jpg);
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 60px;
	color: #EBF2FA;
}
#info2 h3 {
	color: #EBF2FA;
}
#info2 img {
	width: 100%;
}
#island {
	padding: 80%;
}
#info3 {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 20px;
}
#learnMore {
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 100px;
	background-color: #EBF2FA;
	color: #05668D;
	text-align: center;
	font-weight: 700;
	border-style: solid;
	border-width: 4px;
	text-decoration: none;
	transition: all 0.3s ease 0s
}
#learnMore:hover {
	background-color: #05668D;
	border-style: solid;
	border-width: 4px;
	border-color: #EBF2FA;
	color: #EBF2FA;
	font-weight: 700;
	text-decoration: none;
}
#bookATour {
	margin-top: 40px;
	padding: 20px;
	background-color: #05668D;
	color: #EBF2FA;
	border-style: solid;
	border-width: 4px;
	font-weight: 700;
	display: block;
	transition: all 0.3s ease 0s
}
#bookATour:hover {
	padding: 20px;
	background-color: #EBF2FA;
	border-style: solid;
	border-width: 4px;
	border-color: #05668D;
	color: #05668D;
	font-weight: 700;
	text-decoration: none;
}
#bookATour a {
	text-decoration: none;
}
#bookATour a:hover {
	color: #05668D;
	text-decoration: none;
}
#bookATour a:visited {
	color: #05668D;
}
#tour {
	background-image: url(../images/footprints.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}
.desktop {
	display: none;
}
.mobile {
	display: block;
}
#adminNavBox {
	margin-top: 12px;
}
.adminIcon {
	list-style-image: url(../images/admin.png);
}
.footerIcons img {
	height: 20px;
	margin-right: 10px;
	margin-bottom: 4px;
}
.iconsMobile {
	display: inline;
}
.horizontalNav {
	padding-left: 4px;
	padding-right: 4px;
}
.navTitleUnderline {
	border-bottom: 2px dashed #EBF2FA;
	margin-right: 100px;
	padding-bottom: 4px;
}
.navTitleUnderline p {
}
.navOutline {
	border-style: double;
	border-width: 2px;
	margin: 30px;
	padding-bottom: 20px;
	padding-top: 20px;/*	background-color:#EBF2FA;*/
	
}
.horizontalNav li a {
	text-align: center;
}
/*About*/



.aboutImage {
margin-top: 20px;
	/*width: 100%;*/
}
.about h3 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #05668D;
}
#about2 {
	background-image: url(../images/lighthouse2.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}
#about6 {
	background-image: url(../images/birds.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}
#about2image img {
	width: 500px;
}
#videoCon {
	/*position: relative;*/
	margin-bottom: 60px;
}
#videoPlayer {
	width: 100%;
	margin-bottom: -10px;
}
/*Media Player Controls*/
#controls {
	width: 100%;
	height: 60px;
	background-color: #05668D;
	color: #fff;
	font-size: 0.75em;
	padding-top: 20px;
	padding-bottom: 20px;
	/*position: absolute;*/
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;/*box-shadow: 1px 1px 1px #000;*/
}
#controls div {
	float: left;
	height: 30px;
	line-height: 30px;
}
.player-button {
	margin-left: 1%;
	text-align: center;
	cursor: pointer;
}
button {
	color: #EEE;
}
#playVideo {
	background-image: url(../images/player-play.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 20px;
	width: 20px;
}
#seek-bar {
	width: 60%;
	margin-right: 1%;
	margin-left: 1%;
	float: left;
	vertical-align: middle;
}
 _:-moz-tree-row(hover), #seek-bar {
 margin-top: 3px;
}
#volume-bar {
	width: 10%;
	float: right;
	margin-right: 1%;
	margin-left: 1%;
}
 _:-moz-tree-row(hover), #volume-bar {
 margin-top: 3px;
}
#mute {
	margin-right: 1%;
	margin-left: 1%;
	float: right;
}
#mute img {
	margin-bottom: 10px;
	height: 20px;
}
.mute-button {
	background-image: url(../images/player-sound-on.png);
	background-size: cover;
	width: 20px;
	height: 20px;
}
.mute-button-unmute {
}
#full-screen {
	margin-left: 1%;
	margin-right: 2%;
	background-image: url(../images/player-fullscreen.png);
	background-size: cover;
	width: 20px;
	height: 20px;
	float: right;
}
.player-button img {
	margin-bottom: 10px;
	margin-right: 4%;
	height: 20px;
}
#full-screen img {
	margin-bottom: 14px;
	height: 20px;
}
/*Media Player Controls End*/


/*News & Events*/

#newsInfo {
}
.newsandevents h3 {
	font-size: 2em;
}
#bookingNews {
	color: #05668D;
}
.imageCon {
	width: 100%;
}
.news-events-head {
	margin-top: 20px;
	margin-bottom: 80px;
	color: #05668D;
}
.eventsDateTime {
	font-size: 1.1em;
}
.newsDateTime {
	font-size: 1.1em;
}
/*Booking*/

.infoBox {
	text-align: center;
	background-color: #05668D;
	color: #EBF2FA;
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.infoBox ul {
	padding: 0;
	margin: 0;
	font-weight: 400;
}
.infoBox h2 {
	font-size: 1.4em;
}
.infoBoxBold ul {
	font-size: 1.4em;
	font-weight: 700;
}




.infoCall {
	text-align: center;
	background-color: #05668D;
	color: #EBF2FA;
	padding: 20px;
	margin-top: 40px;

}
.infoCall ul {
	padding: 0;
	margin: 0;
	font-weight: 400;
}
.infoCall h2 {
	font-size: 1.4em;
}
.infoBoxBold ul {
	font-size: 1.4em;
	font-weight: 700;
}











#calendarBut {
	color: #05668D;
	width: 40%;
	margin: 0 auto;
}
#calendarBut img {
	margin-bottom: 12px;
}
#calendarBut a {
	color: #05668D;
	font-size: 1.4em;
	font-weight: 700;
}
.callBold {
	font-size: 2em;
	font-weight: 700;
}
#alsoNote h2 {
	font-size: 1.4em;
}
#price h3 {
	color: #EBF2FA;
}
#price ul {
	font-size: 0.8em;
}
.bookingAlert {
	font-style: italic;
	font-weight: 700;
	font-size: 1.08em;
	color: #05668D;
}
.preBook {
	margin-top: 10px;
	text-transform: uppercase;
	font-family: 'Lora', serif;
	font-weight: 700;
}
/*Calendar*/

#cal {
	position: relative;
}

#cal a {
	color: #0e1211;
}
#calBackNav {
	position: absolute;
	left: 10px;
	top:-4px;
	width: 30px;
	height: auto;
	color: #EBF2FA;
	font-size: 2.4em;
	font-weight: 700;
}

#calBackNav img {
 width: 24px;
}
#calendar {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}


#calendarTop {


	width: 100%;
	background-color: #05668D;
	text-align: center;
	padding-bottom: 2px;
	z-index: 10;

	margin: 0 auto;

}

#calendarTop img {
	width: 80px;
	margin-top: 10px;


}
#calendarHeader {
	color: #EBF2FA;
	text-align: center;
	background-color: #05668D;
	font-size: 1.8em;
	margin-top: 0;
	

}

#calBody {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #0e1211;
}
#script-warning {
	display: none;
	background: #eee;
	border-bottom: 1px solid #ddd;
	padding: 0 10px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: red;
}
#loading {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
}
#calendar {
	max-width: 1200px;
	margin: 40px auto;
	padding: 0 10px;
	color: #0e1211;
}
.fc-center {
	color: #05668D;
}
#closeCal {
	text-align: center;
	cursor: default;
	font-size: 1.4em;
	margin-top: 20px;
}
/*Donate*/

#payPal {
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 20px;
}
.infoText {
	font-size: 1.2em;
}
.infoText span {
	font-style: italic;
	font-weight: 700;
}
#donateBoat img {
	height: 220px;
}
#donateBoat {
	height: 100%;
}
/*Gallery*/
.gallery {
	width: 100%;
	position: relative;
	display: block;
}
.full-img-cont {
	position: fixed;
	z-index: 15;
	top: 0;
	width: 100%;
	overflow: visible;
	height: 100%;
	/*	position: block;
*/	background-color: rgba(0,0,0, 0.8);
}
.show {
	display: block;
}
.galImg {
	width: 150px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	padding: 10px;
	text-align: center;
	margin: 0 auto;
	-webkit-box-shadow: 0px 3px 13px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 3px 13px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 3px 13px 0px rgba(50, 50, 50, 0.75);
}
.galImg-screen {
	cursor: pointer;
}
.full-gal-img {
	max-height: 100%;
	width: auto;
	display: block;
	margin: 0 auto;
	position: relative;
}
.imgDescription {
	z-index: 10;
	position: relative;
	display: block;
	color: #fff;
	padding: 15px;
	width: 100%;
	text-align: center;
	bottom: 0;
}
.fullImg {
	position: relative;
	display: block;
	top: 0%;
	height: 70%;
	width: 100%;
}
.gallery-footer-note {
	margin-top: 50px;
	text-align: center;
}
.gallery-footer-note a {
	color: #05668D;
}
.gallery-footer-note a:hover {
	text-decoration: none;
	list-style: none;
	font-weight: normal;
}
.popUpThumbsCont {
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
}
.popUpThumbs {
	display: inline-block;
	width: 13%;
}
.full-image-cont {
	height: 100%;
}
#workGallery {
	display: block;
	position: relative;
	width: auto;
	margin: 0 auto;
	text-align: center;
}
#workGallery img {
	margin: 10px;
}
.next {
	position: relative;
	display: inline-block;
	right: 5%;
	float: right;
	top: 5%;
}
.prev {
	position: relative;
	display: inline-block;
	float: left;
	top: 5%;
	left: 5%;
}
.arrow {
	width: 50px;
	z-index: 15;
	cursor: pointer;
}
.closer {
	width: 50px;
	padding: 10px;
	top: 0;
	right: 0;
	display: block;
	position: relative;
	z-index: 15;
	cursor: pointer;
}
/*Contact*/

.contactInfoBox {
	text-align: center;
	background-color: #05668D;
	color: #EBF2FA;
	padding: 20px;/*margin-top: 20px;*/
	/*margin-bottom: 40px;*/
	
}
.contactInfoBox ul {
	padding: 0;
	margin: 0;
	font-weight: 400;
}
.contactInfoBox h2 {
	font-size: 1.4em;
}
.contactInfoBox ul {
	font-size: 1.4em;
	font-weight: 700;
}
.contactInfoBold {
	font-size: 1.1em;
	font-weight: 700;
	text-decoration: underline;
	text-decoration-style: dashed;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: 'Lora', serif;
}
.contactInfoBold img {
	margin-right: 12px;
	margin-bottom: 4px;
}
#contactSocial {
	list-style: none;
	margin: 0;
}
#contactSocial img {
	width: 30px;
	margin-bottom: 30px;
}
.contactSocial {
	margin: 0 auto;
}
.contactSocial img {
	width: 30px;
	margin-bottom: 30px;
}
.contactSocial li {
	display: inline;
	padding: 10px;
}
#formHeader img {
	height: 36px;
	margin-bottom: 12px;
	margin-right: 12px;
}
#formHeader h2 {
	font-family: 'Lora', sans-serif;
	color: #EBF2FA;
	/*text-decoration: underline;*/
	font-weight: 700;
	font-size: 1.6em;
	display: inline;
}
#contactForm textarea {
	resize: none;
}
/*.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}*/


label {
	color: #EBF2FA;
}
#submit {
	width: 175px;
	height: 40px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #EBF2FA;
	border: 1px solid #555555;
	margin-top: 10px;
	color: #05668D;
	font-size: 14px;
	font-weight: bold;
	transition: all 0.3s ease 0s;
}
#submit:hover {
	background-color: #05668D;
	border: 1px solid #EBF2FA;
	color: #EBF2FA;
}
#map {
}
#mapCon {
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	overflow: auto;
	background-color: #05668D;
}
/*Volunteers*/

.volunteerHeader {
	color: #05668D;
	margin-bottom: 34px;
	margin-top: 10px;
	text-align: center;
}
#volunteers {
	margin-top: 10px;
}
.bioImage {
	background-color: #fff;
}
.bioImage img {
	height: 100%;
	width: 100%;
}
.bioInfo {
	background-color: #EBF2FA;
	height: 100%;
	padding: 12px;
}
.bioInfo ul {
	padding: 0;
	margin: 0;
}
.bioInfo li {
	margin-top: -6px;
}
.bioBox {
	background-color: #05668D;
	padding: 16px;
}
.rank {
	margin-top: 6px;
	font-size: 0.9em;
}
/*Thank You*/

#thankYouBody {
	background-color: #05668D;
	color: #EBF2FA;
}
#thankYouBody h3 {
	font-family: 'Lato', sans-serif;
	color: #EBF2FA;
}
#thankYou-logo {
	margin-top: 20px;
	height: 160px;
}
#thankYou-text {
	text-align: center;
	font-family: 'Lato', sans-serif;
}
#thankYou-text a {
	margin-top: 30px;
	text-transform: uppercase;
	font-size: 2em;
}
#thankYou-text h3 {
	line-height: 60px;
	font-size: 1em;
	font-weight: 400;
}
#thankYou-text h2 {
	font-size: 1.8em;
	font-weight: 400;
}
/*Subpages*/

#topNav {
	width: 100%;
	background-color: #05668D;
	text-align: center;
	/*margin-bottom: 60px;*/
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 10;
}
#topNav ul {
	margin-top: 36px;
}
#logoNav {
	margin-top: 20px;
}
.divider {
	height: 10px;
	width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#backToTop {
	text-align: center;
	float: none;
	margin-bottom: 60px;
}
#backToTop a {
	color: #05668D;
	font-size: 1.6em;
	font-family: 'Lora', serif;
	font-weight: 700;
}
#arrow {
	margin-top: 30px;
	width: 80px;
}
/*Tables*/


.divTable {
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EBF2FA;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #0e1211;
	display: table-cell;
	padding: 23px 40px;
}
.divTableHeading {
	background-color: #EBF2FA;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EBF2FA;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.cellHeader {
	background-color: #05668D;
	color: #EBF2FA;
	font-weight: 700;
	font-size: 1em;
}
.cellInfo {
	background-color: #EBF2FA;
	text-transform: uppercase;
}
#scheduleDetails {
	text-align: center;
	margin-top: 20px;
}
#scheduleDetails li {
	list-style-type: none;
	padding-bottom: 6px;
}

@media screen and (min-width: 20em) {
.next {
	position: relative;
	display: inline-block;
	right: 8%;
	float: right;
	top: 20%;
}
.prev {
	position: relative;
	display: inline-block;
	float: left;
	top: 20%;
	left: 8%;
}
.arrow {
	width: 8%;
}
}

@media screen and (min-width: 40em) {
.popUpThumbs {
	display: inline-block;
	width: 6%;
}
}

@media screen and (min-width: 50em) {
.next {
	position: relative;
	display: inline-block;
	right: 5%;
	float: right;
	top: 30%;
}
.prev {
	position: relative;
	display: inline-block;
	float: left;
	top: 30%;
	left: 5%;
}
.arrow {
	width: 5%;
	position: absolute;
	z-index: 15;
}
.closer {
	width: 50px;
	padding: 10px;
	top: 0;
	left: 0;
	display: block;
	position: relative;
}
}

@media screen and (min-width: 64em) {
.desktop {
	display: block;
}
.mobile {
	display: none;
}
body h2 {
	font-size: 2.6em;
}
body h3 {
	font-size: 2.3em;
	margin-bottom: 20px;
}
#topWindow {
	padding-top: 56px;
}
#topWindow h2 {
	font-size: 3.2em;
}
#logoDesktop {
	display: block;
	margin-top: 10px;
}
#logo {
	display: none;
}
#menuLinks li {
	display: inline;
}
#topNav {
	/*margin-bottom: 60px;*/
	padding-top: 20px;
	padding-bottom: 20px;
}
#info {
	padding-top: 120px;
	background-position: bottom, 30% 5%;
}
#info2 {
	padding-top: 0px;
	background-position: bottom, 80% -2%;
}
.topHeader {
	font-size: 3em;
	text-align: center;
}
.newsandevents h3 {
	font-size: 2.5em;
}
#scheduleDetails li {
}
#arrow {
	margin-top: 120px;
}
.divider {
	margin-top: 60px;
	margin-bottom: 80px;
}
footer {
	/*margin-top: 60px;*/
	padding-top: 60px;
	padding-bottom: 26px;
}
footer ul {
	line-height: 30px;
	text-align: left;
	margin-bottom: 20px;
}
footer h4 {
	margin-top: 0px;
	margin-bottom: 30px;
	text-align: left;
	text-decoration: none;
}
footer a {
	font-size: 1em;
}
.footerSocial img {
	width: 80px;
	margin-left: -20px;
	margin-top: 20px;
}
.iconsMobile {
	display: none;
}
.horizontalNav li {
	display: block;
	margin-right: 0px;
	text-align: left;
}
.navOutline {
	border-style: none;
	border-width: 0px;
	margin: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
#adminNavBox {
	margin-top: 0px;
}

.sectionNavCon {
	margin-top: 0px;
	margin-bottom: 90px;
}

.sectionNav li {
	display: inline;
	margin-right: 10px;
	font-size: 1.1em;
}
/*About*/
#seek-bar {
	width: 62%;
}
/*Gallery*/
.next {
	position: relative;
	display: inline-block;
	right: 5%;
	float: right;
	top: 30%;
}
.prev {
	position: relative;
	display: inline-block;
	float: left;
	top: 30%;
	left: 5%;
}
.arrow {
	width: 6%;
}
.closer {
	width: 3%;
	padding: 10px;
	top: 0;
	left: 0;
	display: block;
	position: relative;
}
.popUpThumbs {
	display: inline-block;
	width: 6%;
}
/*Calendar*/
#calendarLogo {
	width: 120px;
	height: auto;
	margin-bottom: -40px;
	margin-right: 20px;
	
}

#calendar {
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}

#calendarTop {


	width: 100%;
	background-color: #05668D;
	padding-top: 30px;
	padding-bottom: 20px;
	z-index: 10;


}

#calendarTop img {
	
	height: 120px;



}

#calendarHeader {
	font-size: 3em;
	display:inline-block;


}



#calendarBut {
	width: 20%;
}

#calBackNav {
	left: 30px;
	top: 30px;
	font-size: 4em;
}

#calBackNav img {
 width: 60px;
}

#closeCal {

	font-size: 2em;
	margin-top: 50px;
}
/*Booking*/
.infoCall {
	margin-bottom: 40px;

}


/*Contact*/

.contactInfoBox {
	margin-top: 40px;
	margin-bottom: 40px;
	height: 760px;
}
.contactInfoBold {
	margin-top: 30px;
}
#formHeader {
	margin-top: 20px;
}
/*Thank You*/

#thankYou-logo {
	height: 400px;
}
}
